# Rust
**/target/
**/*.rs.bk
*.pdb

# Frontend
node_modules/
dist/
dist-ssr/
*.local
pnpm-lock.yaml
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local

# Database
*.db
*.sqlite

# OS
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
